body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(54deg,rgb(82, 142, 86) 0%, rgb(106, 156, 87) 55%, rgb(104, 149, 78) 100% 100%);
    min-height: 100vh;
}

.icons{
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    flex-direction: column;
    gap: 20px;
}

.icons img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.taskbar{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: #205201;
    height: 4rem;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.taskbar img{
    height: 4rem;
    width: 4rem;
}

.taskbar-icons{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 1rem;
}

.taskbar-icons img{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

#time{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}